* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


/*header==================================================================================*/

.header {
    display: flex;
    height: 46px;
    width: 100%;
}

.header>.header_left {
    width: 30%;
}

.header>.header_center {
    width: 34%;
}

.header>nav {
    width: 36%;
}

.header div h2 {
    font-weight: 100;
    line-height: 46px;
    padding-left: 20px;
}

.header ul li {
    float: left;
    list-style: none;
    margin-right: 3%;
    font-weight: bold;
    color: black;
    line-height: 46px;
    font-size: 13px;
}

.icon,
.header nav a {
    text-decoration: none;
    color: black;
    transition: font-size 0.5s;
    cursor: pointer;
}

.icon:hover,
.header nav ul li a:hover {
    color: red;
    font-size: 16px;
}


/*banner========================================================================================*/

.banner_container_top {
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
}

.banner_top {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    position: relative;
    padding: 80px 0;
}

.banner_top_left {
    width: 30.3%;
    margin: 0px 13px 0px 13px;
    box-sizing: border-box;
}

.banner_top_center {
    width: 30.3%;
    margin: 0px 13px 0px 13px;
    box-sizing: border-box;
}

.banner_top_right {
    width: 30.3%;
    margin: 0px 13px 0px 13px;
    box-sizing: border-box;
}

.image_banner_top_left {
    background-image: linear-gradient(-180deg, rgba(1, 1, 1, 0), rgba(0, 0, 0, 0.9)), url(../image/anh_3.webp);
    height: 206px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background-size 0.5s;
}

.banner_bottom_right:hover,
.left_bottom_right:hover,
.left_bottom_left:hover,
.bottom_left_top:hover,
.image_banner_bottom_right:hover,
.image_banner_top_right:hover,
.image_banner_center:hover,
.image_banner_bottom_left:hover,
.image_banner_top_left:hover {
    background-size: 110% 110%;
}

.image_banner_bottom_left {
    background-image: linear-gradient(-180deg, rgba(1, 1, 1, 0), rgba(0, 0, 0, 0.9)), url(../image/anh_4.webp);
    height: 206px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    transition: background-size 0.5s;
}

.image_banner_center {
    background-image: linear-gradient(-180deg, rgba(1, 1, 1, 0), rgba(0, 0, 0, 0.9)), url(../image/anh-6.webp);
    height: 442px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
}

.text_banner_center {
    font-size: 15px;
    padding: 0px 18px;
    position: relative;
    top: 303px;
}

.text_banner_center>h4 {
    color: white;
}

.text_banner_center>p {
    color: #ccc;
}

.button {
    border-radius: 5px;
    width: 67px;
    height: 18px;
}

.button>p {
    font-size: 9px;
    color: white;
}

.button_banner_cennter_left {
    background-color: #FF0000;
}

.button_banner_cennter_right {
    background-color: #0000FF;
}

.image_banner_top_right {
    background-image: linear-gradient(-180deg, rgba(1, 1, 1, 0), rgba(0, 0, 0, 0.9)), url(../image/anh_1.webp);
    height: 206px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background-size 0.5s;
}

.image_banner_bottom_right {
    background-image: linear-gradient(-180deg, rgba(1, 1, 1, 0), rgba(0, 0, 0, 0.9)), url(../image/anh_2.webp);
    height: 206px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    transition: background-size 0.5s;
}

.text_banner {
    font-size: 15px;
    padding: 0px 18px;
    position: relative;
    top: 110px;
}

.text_banner>h4 {
    color: white;
}

.text_banner>p {
    color: #ccc;
}


/*content=====================================================================================*/

.content_container {
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #DDDDDD;
}

.content_bottom,
.content_center,
.content_top {
    width: 100%;
    display: flex;
}

.content_container>h1 {
    padding: 80px 0px 60px 0px;
    font-weight: 100;
}

.content_left {
    width: 30.3%;
    margin: 0px 13px 0px 13px;
    box-sizing: border-box;
}

.tech,
.politics {
    background-color: #444444;
}

.nature {
    background-color: greenyellow;
}

.sport {
    background-color: red;
}

.lifestyle,
.travel {
    background-color: orange;
}

.text_content {
    margin-left: 13px;
}

.text_content>p {
    color: #666666;
}

.readmore {
    color: #0000FF;
    transition: font-size 0.5s
}

.readmore:hover {
    font-size: 16px;
}

.content_top_center {
    width: 30.3%;
    margin: 0px 13px 0px 13px;
    box-sizing: border-box;
}

.content_right {
    width: 30.3%;
    margin: 0px 13px 0px 13px;
    box-sizing: border-box;
}

.image_content {
    transition: width 0.5s;
}

.image_content:hover {
    width: 103%;
}


/*Đổi trang===============================================================================*/

.next_page {
    width: 100%;
    height: auto;
    text-align: center;
}

.doi_all {
    padding: 80px 0;
}

.button_first,
.button_next:hover {
    color: #AAAAAA;
    background-color: white;
    clip-path: circle(50%);
    height: 2em;
    width: 2em;
}

.button_next {
    background: #1E90FF;
    clip-path: circle(50%);
    height: 2em;
    width: 2em;
}


/*bannner_dưới*/

.banner_bottom_container {
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
}

.banner_bottom {
    width: 80%;
    margin: auto;
    display: flex;
    position: relative;
    padding: 129px 0;
    height: auto;
}

.banner_bottom_left {
    width: 57%;
}

.bottom_left_top {
    width: 100%;
    position: relative;
    background-image: linear-gradient(-180deg, rgba(1, 1, 1, 0), rgba(0, 0, 0, 0.9)), url(../image/anh_3.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 280px;
    transition: background-size 0.5s;
}

.bottom_left_bottom {
    height: auto;
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin-top: 18px;
}

.left_bottom_left {
    width: 48%;
    position: relative;
    height: 263px;
    background-image: linear-gradient(-180deg, rgba(1, 1, 1, 0), rgba(0, 0, 0, 0.9)), url(../image/anh_4.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 8px;
    transition: background-size 0.5s;
}

.left_bottom_right {
    width: 48%;
    position: relative;
    height: 263px;
    background-image: linear-gradient(-180deg, rgba(1, 1, 1, 0), rgba(0, 0, 0, 0.9)), url(../image/anh_1.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    transition: background-size 0.5s;
}

.banner_bottom_right {
    width: 40%;
    background-image: linear-gradient(-180deg, rgba(1, 1, 1, 0), rgba(0, 0, 0, 0.9)), url(../image/anh_2.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 23px;
    height: 561px;
    transition: background-size 0.5s;
}

.items1 {
    width: 15%;
    border-radius: 5px;
    height: 18px;
    background-color: greenyellow;
    position: relative;
    top: 10px;
    left: 20px;
}

.banner_bottom h4 {
    color: white;
    font-weight: 100;
}

.banner_bottom .date {
    color: #ccc;
}

.bottom_left_top>h4 {
    position: absolute;
    top: 147px;
    left: 20px;
}

.bottom_left_top>p {
    position: absolute;
    bottom: 60px;
    left: 20px;
}

.items2 {
    background-color: #1E90FF;
    position: absolute;
    top: 10px;
    left: 20px;
}

.items3 {
    background-color: orange;
    position: absolute;
    top: 10px;
    left: 20px;
}

.items4 {
    background-color: red;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 20%;
}

.bottom_left_bottom h4 {
    position: absolute;
    left: 20px;
    bottom: 60px;
}

.bottom_left_bottom .date {
    position: absolute;
    left: 20px;
    bottom: 23px;
}

.banner_bottom_right h3 {
    color: white;
    font-weight: 100;
    position: absolute;
    left: 20px;
    bottom: 60px;
}

.banner_bottom_right .date {
    position: absolute;
    left: 20px;
    bottom: 23px;
}


/*Subscribe*/

.subscribe_container {
    height: 210px;
}

.subscribe {
    text-align: center;
    margin-top: 75px;
}

.subscribe p {
    color: #ccc;
}

.input_sub {
    border: 1px solid #ccc;
    width: 29%;
    height: 37px;
    margin-right: -4px;
}

.submit {
    height: 37px;
    background-color: #1E90FF;
    width: 7%;
    color: white;
}


/*footer*/